# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#################
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OS-specific files
####################
.DS_Store
Thumbs.db


# IDE specific folders and files (adjust according to your IDE)
##############################################
# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/
dist/

# Sensitive or configuration files (if any), e.g. files with credentials
# For example, if you have a file that stores connection info:
# config/ConnectionFile.properties
